*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.btn {
	display: inline-block;
	border-radius: 1rem;
	padding: 1.25rem 1rem;
	font-weight: 900;
}

.btn--lightblue {
	background: #1cbee6;
	color: #fff;
}

.btn--blue {
	background: #4c7ace;
	color: #fff;
	padding: 1.25rem 2rem;
}

#home-page {
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Avenir';

	section {
		max-width: 105rem;
		margin: 0 auto;
		.section-title {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #fff;
			font-size: 2rem;
			font-family: 'Azo Sans';
			font-weight: 700;
			height: 10rem;
			margin: 1rem 0;
		}
	}

	.gradient-back-left {
		background: rgb(116, 246, 226);
		background: linear-gradient(270deg, rgba(98, 6, 172, 1) 0%, rgba(116, 246, 226, 1) 100%);
	}

	.gradient-back-right {
		background: rgb(116, 246, 226);
		background: linear-gradient(90deg, rgba(98, 6, 172, 1) 0%, rgba(116, 246, 226, 1) 100%);
	}

	.container {
		width: 82rem;
		margin: 0 auto;
		max-width: 90vw;
	}

	.right-fix {
		width: 41rem;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.left-fix {
		width: 41rem;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	img {
		max-width: 100%;
	}

	.card {
		display: flex;
		margin: 2rem 0;
		&__content {
			max-width: 31rem;
			padding: 1rem;
		}
		&__img {
			width: 50%;
			object-fit: cover;
		}
		&__title {
			font-family: 'Azo Sans';
			font-weight: 700;
			font-size: 2rem;
			color: #1d4897;
			letter-spacing: 2px;
		}
		&__sub-title {
			margin-top: 2rem;
			margin-bottom: .5rem;
			font-size: 1.125rem;
			font-weight: 700;
			color: #2dadf5;
		}
		&__text {
			font-size: 1.125rem;
		}
		&__list {
			list-style: none;
		}

		&__list__item {
			margin-top: 1rem;
			margin-left: 2rem;
			font-family: 'Azo Sans';
			font-weight: 400;
			font-size: 1.25rem;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				background: url('/assets/check.png');
				background-size: cover;
				height: 1.5rem;
				width: 1.5rem;
				display: block;
				top: -2px;
				left: -2rem;
			}
		}
	}

	a {
		text-decoration: none;
		&:hover,
		&:focus {
			opacity: .85;
		}
	}

	.disclaimer {
		font-size: 0.875rem;
		font-family: 'Avenir';
		font-weight: 700;
		margin-top: 1rem;
	}

	.header {
		display: flex;
		letter-spacing: 1px;
		width: 90rem;
		max-width: 90vw;
		font-size: 0.875rem;
		padding: 2rem 1rem;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		text-transform: uppercase;
		&__logo {
			width: 15.875rem;
		}
		&__nav {
			display: flex;
			list-style-type: none;
			&__link {
				margin-left: 2.5rem;
				a {
					font-weight: 600;
					color: #3468c9;
				}
			}
		}
		&__btns {
			.btn--blue {
				margin-left: 0.8125rem;
			}
		}
	}

	.hero {
		background: url('/assets/hero-back.png') no-repeat;
		background-size: cover;
		background-position: bottom right;
		color: #fff;
		&__content {
			width: 54.5%;
			padding: 5.1875rem 0 3.3125rem 2rem;
			&__title {
				font-size: 3.375rem;
				font-family: 'Azo Sans';
				font-weight: 900;
				line-height: 4.325625rem;
				filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .5));
			}
			&__text {
				font-size: 1.5rem;
				font-family: 'Azo Sans';
				font-weight: 900;
				line-height: 2.5rem;
				filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .5));
				margin-top: 1.625rem;
			}
			.btn--lightblue {
				text-transform: uppercase;
				font-size: 1.5rem;
				padding: 1.25rem 1.6875rem;
				font-family: 'Avenir';
				margin-top: 1.625rem;
			}
		}
	}

	.icons {
		.hero {
			&__icons {
				display: flex;
				justify-content: space-around;
				width: 100%;
				padding: 4rem 0;
			}
			&__icon {
				display: flex;
				flex-direction: column;
				align-items: center;
				max-width: 10rem;
				font-family: 'Azo Sans';
				font-weight: 700;
				&__image {
					width: 8rem;
					margin-bottom: 1.5rem;
				}
				&__text {
					text-align: center;
					font-size: 1.25rem;
				}
				&--bigger {
					max-width: 16rem;
				}
			}
		}
	}

	.build-marketing {
		display: flex;
		flex-direction: column;
		align-items: center;
		.sub-title {
			text-align: center;
			max-width: 34rem;
		}
		.cards-container {
			width: 100%;
		}
	}

	.get-started {
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.btn {
			font-size: 1.8rem;
			font-family: 'Avenir';
			padding: 2rem 2.2rem;
		}
		.disclaimer {
			color: #a3a3a3;
		}
	}

	.impressions {
		text-align: center;
		margin-bottom: 2.5rem;
		&__title {
			margin: 2.5rem 0;
			font-size: 1.5rem;
			font-family: 'Azo Sans';
			font-weight: 900;
		}
		.swiper-slide {
			height: auto;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 6rem 2rem 3rem 2rem;
			font-size: 1.125rem;
			background: rgba(0, 0,0, .03);
			font-weight: 700;
		}
		&__text {
			font-weight: 900;
		}
		&__name {
			margin-top: 2rem;
			font-weight: 400;
		}
		.swiper-button-next, .swiper-button-prev {
			color: #a3a3a3;
		}
	}

	.footer {
		font-size: 1.1875rem;
		&-row {
			display: flex;
			justify-content: space-between;
		}
		&-columns {
			display: flex;
			flex-wrap: wrap;
		}
		&-column {
			margin-left: 3rem;
		}
		.column-item {
			margin-top: .5rem;
		}
		.column-title {
			font-weight: 600;
		}
		padding-top: 6rem;
		padding-bottom: 2.5rem;
		color: #fff;
		a, a:visited, a:focus {
			color: #fff;
		}
		.logo {
			width: 15.875rem;
			object-fit: cover;
		}
		.elify-text {
			margin-top: 2rem;
			font-size: 1.375rem;
		}
		&-icons {
			justify-self: flex-end;
			display: flex;
			justify-content: flex-end;
		}
		&-icon {
			font-size: 1.875rem;
			margin-left: 1.5rem;
			margin-top: 2.5rem;
		}
		.reserved {
			margin-top: 4rem;
			text-align: center;
		}
	}
}

@media only screen and (max-width: 62.5rem) {
	#home-page {
		.header {
			padding: 1rem;
			&__nav, &__btns {
				display: none;
			}
			&__logo {
				width: 7.4rem;
			}
		}
	}
}

@media only screen and (max-width: 40rem) {
	#home-page {
		.get-started .btn {
			font-size: .8rem;
		}
		.icons {
			.hero__icons {
				padding: 2rem 0;
				flex-direction: column;
				align-items: center;
				.hero__icon {
					margin-top: 1rem;
				}
			}
		}

		.right-fix, .left-fix {
			width: 100%;
		}
		
		.card {
			flex-direction: column;
			&__img {
				width: 100%;
			}
		}

		section .section-title {
			height: auto;
			padding: 1rem;
		}

		.build-marketing .sub-title {
			padding: 0 1rem;
		}

		.build-marketing .cards-container .card:nth-of-type(1), 
		.build-marketing .cards-container .card:nth-of-type(3) {
			.card__img {
				order: -1;
			}
		}
		.swiper-slide {
			padding: 4rem 3rem 2rem 3rem;
		}
		.swiper-button-next {
			right: 0;
		}
		.swiper-button-prev {
			left: 0;
		}
		.footer-columns {
			display: none;
		}
		.footer-row {
			justify-content: center;
		}
		.footer {
			padding-top: 2.5rem;
			.logo {
				width: 7.4rem;
			}
			.elify-text {
				margin-top: 0;
			}
			.footer-icons {
				justify-content: center;
			}
		}
	}
}


